:root{
    --bg:#fff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    background-color: #3f3f3f; 
    
}


.dock-bar{
   
    position: fixed; 
    border-radius: 25px;
    width: 600px;
    left: calc(50% - 300px);
    height: 60px;
    bottom: -70px;
    background-color: rgb(49, 49, 49);  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.5s;
}
.dock-bar::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100vw;
    height: 110px;
    
}
.dock-bar:hover{
    transition: all .2s ease-in;
    transform: translateY(-80px);
}



.box-dock{
    cursor: pointer;
    height: 100%;
    width: 15%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 5px;
    z-index: 9;
}
.box-dock:hover{
    background-color: #525252;
}
.act-dock{
    border-bottom: 5px solid aqua;
    text-shadow: 0px 0px 20px #ffffff;
    background-color: #3c3c3c;
    box-sizing: border-box;
}



#feed-space{    
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.l{
    min-width: 250px;
    width: 20%;
    background-color: #353535;

}


.logo-box{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 3px dashed #ffffff;
    cursor: pointer;
    transition:  all 0.2s linear ;
}
.logo-box:hover{
    font-weight: 900;    
    font-size: 1.6rem;
    text-shadow: 0 2px 2px #ff0000;
}

.search-box{
    box-sizing: border-box;
    padding: 10px 20px;
    
}
.icon-search{
    display: flex;    
    justify-content: start;
    align-items:center;
    flex-wrap: nowrap;
    border-radius: 15px;
    border: 2px dashed #ffffff;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(60, 60, 60);
    transition: all 0.2s linear;
}
.search-box:hover .icon-search{
    width: calc(100%)
}
.search-box:hover .ip-search{
    display:unset;
    width: 80%;
}
i.fa-magnifying-glass{
    cursor: pointer;
}
.ip-search{    
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.4s linear;
    display: none;
    margin: 0 10px;
    width: 0;
    height: 100%;
    border: 0;
    background-color: rgb(60, 60, 60);
}
.menu1-l{
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #404040 ;
    border-bottom: 1px solid #404040 ;
}
.menu1-l-box{
    display: flex;
    padding-left: 20px ;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    height: 40px;
    transition:background-color .1s ease-in ;
}
.menu1-l-box:hover{
    background-color: #525252;
}
.menu1-l-box:hover .text-feature{
    font-size: 1.1rem;
}
.text-feature{
    transition: all .1s ease-in;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Tilt Neon', cursive;
}

.menu1-l-box:hover .menu1-l-icon{
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px #ff0000;
}
.menu1-l-icon{
    text-align: center;
    width: 36px;
    font-size: 1.2rem;
    color: #fff;
}
/*  */
.m{
    overflow-y: scroll;
    background-color: #ff939300;
    flex: 1;
}
.box{
    margin: 20px auto;
    width: 70%;
    height: fit-content;
    background-image: linear-gradient(45deg,#535353,#313131);
    border-radius: 20px;
}
.story {
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 200px;
    gap: 10px;
}
.story-box{
    width: 120px;
    height: 100%;
    flex-shrink: 0; 
    background-image: url(https://previews.123rf.com/images/klikk/klikk0512/klikk051200067/287925-aut%C3%A9ntico-tv-nieve.jpg);
    background-size: cover;
    border-radius: 20px;
}
.cre-story-box{
    
    position: relative;
    flex-shrink: 0;
    width: 120px;
    height: 100%;    
    border-radius: 20px;
    overflow: hidden;
}
.cre-story-box:hover > img {
    opacity: 100%;
}
.cre-story-box  img{
    transition: all .2s ease-in;
    opacity: 60%;
    height:100%;
    transform: translateX(-20%);
}
.title-cre-story-box{
    transition: all .2s ease-in;
    background-image: linear-gradient(260deg,#3a3a3a,#2d2d2d);    
    cursor: pointer;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    color: #fff;
}
.title-cre-story-box:hover {
    
    background-image: linear-gradient(45deg,#3acaff,#0074f9);
}
.title-cre-story-box > i{
    transition: all .2s ease;
    color: rgb(187, 187, 187);
    right: calc(50% - 0.9rem);
    position: absolute;
    top: -0.9rem;
    font-size: 1.8rem;
}
.title-cre-story-box:hover >i {
    color: #fff;
    text-shadow: 0 0 30px #fff;
}
.title-cre-story-box > p{
    margin-top: 16px;
}
.more-story{
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    top: calc(50% - 1.6rem);
    right: 0;
    color: rgb(4, 255, 205);
    border-radius: 50%;
    background-color: #ffffff;
    border:2px solid #fff ;
    
}
.cre-tus{
    display: flex;
    height: fit-content;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
}
.cre-tus img{
    width: 100%;
    object-fit: cover;
}
.cre-tus input{
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    height: 3rem;
    border: 1px dashed #686868;
    background-color: #00000000;
    border-radius: 1rem;
    padding: 0 20px;
    box-sizing: border-box;
}
.box-circle{
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4f4f4f;
    transition: all .2s ease-in;
}
.box-circle input{
    display: none;
}
.box-circle:hover{
    text-shadow: 0 0 20px #fff;
    background-color: #2d2d2d;
}
.feeds{
    height: fit-content;
    padding: 10px 20px;
    box-sizing: border-box;
}
.hfeed{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.hfeed-in4{
    display: flex;
    align-items: center;
}
.hfeed-avt{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.hfeed-name{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    padding: 0 10px;
}
.hfeed-menu{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hfeed-menu:hover{
    background-color: #2d2d2d;
}
.tus{
    color: #fff;
    font: 500 1rem sans-serif;
    margin: 5px 0;
}
.img-feed img{
    width: 100%;
    border-radius: 10px;    
    max-height: 80vh;
}
.interact-box{
    padding: 5px 0;
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
.itrc{
    display: flex;
    align-items: center;
    gap: 10px;
}
.itrc i{
    font-size: 1.6rem;
    cursor: pointer;
}
.detail{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detail-time{
    cursor:none;
    font-style: italic;
}
.detail-text:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cmt-box{
    width: 100%;
    height: fit-content;
}
.cmt-box {
    height: fit-content;
    padding: 5px 0;
    box-sizing: border-box;
}
.my-cmt{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.my-cmt input{
    height: 2rem;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #808080;
    padding: 0 10px;
    color: #fff;
}
.avt-cmt{
    cursor: pointer;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.other-cmt{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.cmt-shape{
    position: relative;
    background-color: #5a5a5a;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 5px 20px 10px 20px;
}
.name-cmt{
    cursor: pointer;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}
.name-cmt:hover{
    text-decoration: underline;
}
.cmt{
    color: #fff;
    font-size: 1rem;
    font-family: sans-serif;

}
.cmt-shape img{
    margin: 5px 0;
    max-width: 100%;
    height: 300px;
}
.cmt-shape:hover .time-cmt{
    display: block ;
}
.icon-cmt{
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 18px;
    bottom: -14px;  
    background-color: #5a5a5a;
    width: fit-content;
    padding: 5px 10px;
    height: fit-content;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-size: 0.8rem;
}
.time-cmt{
    display: none;
    position: absolute;
    top: 5px;
    right: 30px;
    color: #c7c7c7;
    font-style: italic;
    font-size: 0.9rem;
}
.icon-cmt:hover i{
    color: red;
}













.footer{
    height: 50px;
    width: 50px;
}



/*  */
.r{
    min-width: 250px;
    width: 20%;
}
@media only screen and (max-width: 1000px){
    .l{
        display: none;
    }
    .box{
        width: 85%;
    }
}
@media only screen and (max-width: 700px){
    .dock-bar{
        width: 100vw;
        height: 50px;
        left: 0;
    }
    .story{
        height: 150px;
    }
    .story-box{
        width: 90px;
    }
    .cre-story-box{
        width: 90px;
    }
    .cmt-shape img{
        height: 250px;
    }
    .r{
        display: none;
    }
    .dock-bar::before{
        display: none;
    }
    .dock-bar{
        transform: translateY(-70px);
    }
    .box{
        width: 100%;
    }
    html{
        font-size: 14px;
    }
}
